.cartItem {
  border-bottom: 1px solid gray;
  padding: 10px 0;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 15px;
}

.cartItem:last-child {
  border-bottom: none;
}

.productControls span {
  display: block;
  width: 15px;
}

.trashContainer {
  display: flex;
  align-items: center;
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

.itemsContainer > h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
}

.productControlsContainer {
  display: flex;
  flex: 2;
  margin-left: auto;
  gap: 10px;
  align-items: center;
}

.titleContainer {
  flex: 3
}

.priceContainer {
  flex: 1
}

.imgContainer {
  position: relative;
  flex: 2;
  height: 100px;
  width: 150px;
}

@media (max-width:961px) {
  .itemsContainer {
    padding: 0;
  }
}