.nav {
  display: none;
}

.nav nav {
  display: flex;
  flex-direction: column;
}

.nav nav button {
  margin-left: auto;
}

.nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  z-index: 1;
}

.nav ul li {
  width: 100%;
}

.nav ul li:hover {
  width: 100%;
  background-color: #2986cc;
  color: white
}

.nav ul li > a {
  display: block;
  width: 100%;
  padding: 20px 0;
  text-transform: capitalize;
  text-align: center;
}

.cartLinkContainer > a {
  position: relative;
}

.cartLinkContainer a div {
  position: absolute;
  top: 15px;
  right: 30px;
}

@media (max-width:961px) {
  .nav {
    display: block;
  }
}